<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.kuleuven.buddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/buddy_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/buddy_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buddy">
        <activity
            android:name=".activities.PlantStatistics"
            android:exported="false" />
        <activity
            android:name=".activities.Info"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.EditAccount"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Account"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.ResetPassword"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Home"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.RequestReset"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Register"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Login"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".activities.Start"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>